@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
.navbar ul {
  list-style: none;
  padding: 0;
  li {
    border-radius: 8px;
    padding: 10px 80px 10px 10px;
    margin-top: 1rem;
    a {
      font-weight: 500;
      color: #b6b4b6;
      span {
        margin-left: 7px;
        margin-top: 2px;
      }
      img {
        width: 26px;
        opacity: 0.6;
      }
    }
  }
}
.active {
  background-color: var(--light-backgroud);
  a {
    color: var(--text-color) !important;
    img {
      opacity: 1 !important;
    }
  }
}
