<div class="main">
  <div class="container pt-3">
    <div class="row">
        <div class="col-2 ">
            <div class="firstsection">
                <div class="logodiv">
                    <h2>LMS</h2>
                </div>
                <nav>
                  <div class="navbar">
                    <ul>
                      <li class="active"><a href="#"><img src="../../assets/img/home.png" alt="dashboard"><span>Dashboard</span></a></li>
                      <li><a href="#"><img src="../../assets/img/laptop.png" alt="sessions"> <span> My Sessions</span></a></li>
                      <li><a href="#"><img src="../../assets/img/school-bag.png" alt="school-bag"> <span>My Batches</span> </a></li>
                      <li><a href="#"><img src="../../assets/img/right-arrow.png" alt="leave"> <span>My Leaves</span> </a></li>
                    </ul>
                  </div>
                </nav>
            </div>
        </div>
        <div class="col-6">
          <h1>Dashbord</h1>
        </div>
        <div class="col-4">
          <h1>user</h1>
        </div>
    </div>
</div>
</div>
