@import "~bootstrap/scss/bootstrap.scss";
/* You can add global styles to this file, and also import other style files */
:root{
  --dark-color:#8a70d6;
  --light-backgroud:#e9e3ff;
  --text-color:#424040;
  --main-backgroud:#fbfbfb;
 }
